a {
  text-decoration: none;
  color: blue;
}

button {
  box-sizing: border-box;
  border-radius: 50px;
  border: 2px solid blue;
  background: none;
  margin-right: 10px;
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px;
  text-align: left;
}

thead {
  background-color: #e0e0e0; /* เปลี่ยนสีได้ตามใจ */
}
