dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

dt {
  font-weight: 600; // ตัวหนา
  position: relative;
  padding-right: 2rem;

  &::after {
    content: '::'; // ใส่ ::
    position: absolute;
    right: 0;
    color: blue;
    font-weight: 800;
  }
}

dd {
  margin: 0; // เอา default margin ออก
}
