a {
  color: blue;
  text-decoration: none;
  border: 2px solid blue;
  border-radius: 4px;
  padding: 5px;
  margin-right: 10px;
}

a.-st-active {
  background-color: silver;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
